body {
  --twitter-color: #50b7f5;
  color: #0f1419;
  transition: background-color 0.3s ease;


}
.dark {
  background: black;
  color: white;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  transition: background-color 0.2s;
}
.app {
  display: flex;
  justify-content: center;
  

}
.dark .toggle_button{
  color:white
}

.dark .feed,
.dark {
  background-color: #000;
  color: #e7e9ea;
}

.dark.app{
  background-color: #000
}
.dark .feed,
.dark .sidebar,
.dark .widgets {
  background-color: #000;
  color: #e7e9ea;
}


.dark .feed {
  border-color: #2f3336;
}


.dark .widgets_container {
  background-color: #16181c;
  border: 1px solid #2f3336;
}


.dark input {
  background-color: transparent;
  color: white;
}


.dark .sidebarOption:hover,
.dark .trend:hover {
  background-color: #1d1f23;
}
