.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.2s, color 0.2s;
    width: fit-content;
    margin: 1px 0;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 20px;
  color: rgb(106, 213, 238);
}

.sidebarOption svg {
  margin: 10px;
}

.sidebarOption h2 {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.active {
  color: #1da1f2;
  font-weight: bold;
}